In [15]:
import pandas as pd
normal_requests = pd.read_csv('Datasets/normal_requests_csv.csv', header=None)
normal_requests.head(5)

                                                   0
0  id=3&nombre=Vino+Rioja&precio=100&cantidad=55&...
1  modo=entrar&login=choong&pwd=d1se3ci%F3n&remem...
2                                               id=2
3                  errorMsg=Credenciales+incorrectas
4        modo=insertar&precio=2672&B1=Pasar+por+caja

In [25]:
normal_requests['label_id'] = 0
normal_requests['label_desc'] = "normal"
normal_requests.head(5)

                                                   0  label_id label_desc
0  id=3&nombre=Vino+Rioja&precio=100&cantidad=55&...         0     normal
1  modo=entrar&login=choong&pwd=d1se3ci%F3n&remem...         0     normal
2                                               id=2         0     normal
3                  errorMsg=Credenciales+incorrectas         0     normal
4        modo=insertar&precio=2672&B1=Pasar+por+caja         0     normal

In [45]:
len(normal_requests)

8000

In [43]:
malicious_requests = pd.read_csv('Datasets/malicious_payload_csv.csv', header=None, sep='\t')
malicious_requests.head(5)

                                                   0
0  searchText=!&tenantKey=61&timeRangeScalar=1&ti...
1  searchText=!'&tenantKey=61&timeRangeScalar=1&t...
2  searchText=!@#$%%%5e#$%#$@#$%$$@#$%%5e%5e%2a%2...
3  searchText=!@#0%%5e#0##018387@#0%5e%5e%2a%2a((...
4  searchText=%22&tenantKey=61&timeRangeScalar=1&...

In [44]:
len(malicious_requests)

6438

In [46]:
malicious_requests['label_id'] = 1
malicious_requests['label_desc'] = "anomaly"
malicious_requests.head(5)

                                                   0  label_id label_desc
0  searchText=!&tenantKey=61&timeRangeScalar=1&ti...         1    anomaly
1  searchText=!'&tenantKey=61&timeRangeScalar=1&t...         1    anomaly
2  searchText=!@#$%%%5e#$%#$@#$%$$@#$%%5e%5e%2a%2...         1    anomaly
3  searchText=!@#0%%5e#0##018387@#0%5e%5e%2a%2a((...         1    anomaly
4  searchText=%22&tenantKey=61&timeRangeScalar=1&...         1    anomaly

In [62]:
combined_dataset = pd.concat([normal_requests, malicious_requests])
combined_dataset.columns = ['payload', 'label_id', 'label_desc']
combined_dataset

                                                payload  label_id label_desc
0     id=3&nombre=Vino+Rioja&precio=100&cantidad=55&...         0     normal
1     modo=entrar&login=choong&pwd=d1se3ci%F3n&remem...         0     normal
2                                                  id=2         0     normal
3                     errorMsg=Credenciales+incorrectas         0     normal
4           modo=insertar&precio=2672&B1=Pasar+por+caja         0     normal
5     modo=registro&login=cen&password=40a5E&nombre=...         0     normal
6                                     B2=Vaciar+carrito         0     normal
7     modo=registro&login=de_la&password=roder%F3n&n...         0     normal
8     id=3&nombre=Queso+Manchego&precio=100&cantidad...         0     normal
9     modo=entrar&login=magrath&pwd=1an0re%E15354&re...         0     normal
10                                                 id=1         0     normal
11                    errorMsg=Credenciales+incorrectas         0     normal
12           modo=insertar&precio=958&B1=Pasar+por+caja         0     normal
13    modo=registro&login=francois&password=patay&no...         0     normal
14                                    B2=Vaciar+carrito         0     normal
15    modo=registro&login=misczak&password=prestamen...         0     normal
16    id=1&nombre=Queso+Manchego&precio=39&cantidad=...         0     normal
17    modo=entrar&login=quinn&pwd=incisivo&remember=...         0     normal
18                                                 id=2         0     normal
19                    errorMsg=Credenciales+incorrectas         0     normal
20          modo=insertar&precio=6429&B1=Pasar+por+caja         0     normal
21    modo=registro&login=del&password=repulsivo&nom...         0     normal
22                                    B2=Vaciar+carrito         0     normal
23    modo=registro&login=pacon&password=protoalb%E9...         0     normal
24    id=1&nombre=Vino+Rioja&precio=39&cantidad=25&B...         0     normal
25    modo=entrar&login=aguistin&pwd=iNnota&remember...         0     normal
26                                                 id=2         0     normal
27                    errorMsg=Credenciales+incorrectas         0     normal
28               modo=insertar&precio=1499&B1=Confirmar         0     normal
29    modo=registro&login=verde&password=er6%E1til&n...         0     normal
...                                                 ...       ...        ...
6408  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6409  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6410  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6411  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6412  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6413  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6414  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6415  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6416  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6417  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6418  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6419  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6420  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6421  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6422  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6423  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6424  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6425  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6426  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6427  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6428  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6429  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6430  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6431  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6432  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6433  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6434  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6435  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6436  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly
6437  searchText=&tenantKey=61&timeRangeScalar=1&tim...         1    anomaly

[14438 rows x 3 columns]

In [63]:
# Get number of clean and malicious requests
grouped_by_label = combined_dataset.groupby(['label_desc']).count()
grouped_by_label

            payload  label_id
label_desc
anomaly        6438      6438
normal         8000      8000

In [64]:
# Get percentage of malicious requests in dataset
print("Malicious request logs in dataset: {:0.2f}%".format(float(grouped_by_label['payload'][0]) / len(combined_dataset) * 100))

Malicious request logs in dataset: 44.59%

In [65]:
# Save dataframe to csv
combined_dataset.to_csv('Datasets/all_requests_csv.csv', index=False, encoding='utf-8')